.d-purshage-section-about {
  background-color: #cdcdcd3b;
  margin-left: -8px;
  width: 1349px;
  height: 500px;
}

.h-text-title-about {
  color: #00b4ff;
  font-size: 46px;
  font-family: "Oswald", sans-serif;
  margin-left: 402px;
  margin-top: 50px;
  position: absolute;
}

.p-1-text-the-about {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-top: 146px;
  position: absolute;
  margin-left: 218px;
  line-height: 29px;
}

.p-2-text-the-about {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-top: 280px;
  position: absolute;
  line-height: 29px;
  margin-left: 218px;
}

.b-butt-the-about {
  outline-color: #00b4ff;
  color: white;
  border: none;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  width: 193px;
  margin-left: 550px;
  margin-top: 406px;
}
